<h1>Listing table_contents</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Level</th>
      <th>Order</th>
      <th>Id book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_contents.each do |table_content| %>
      <tr>
        <td><%= table_content.content %></td>
        <td><%= table_content.level %></td>
        <td><%= table_content.order %></td>
        <td><%= table_content.id_book %></td>
        <td><%= link_to 'Show', table_content %></td>
        <td><%= link_to 'Edit', edit_table_content_path(table_content) %></td>
        <td><%= link_to 'Destroy', table_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table content', new_table_content_path %>
